@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-size: 16px;
  font-family: 'Lato';
}
.wd_100 {
  width: 100%;
  float: left;
}
.header_wrapper {
  background-color: #0079bf;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}
.board_wrapper {
  padding: 20px 0;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-close {
  width: 1.0830078125em;
  cursor: pointer;
}
.list_wrapper {
  margin-top: 20px;
}
.list_wrapper .indiv_list {
  background-color: #E2E4E6;
  padding: 20px;
  width: 25%;
  float: left;
  margin: 20px;
}
.list_wrapper .list_heading_wrapper .list_heading {
  float: left;
}
.list_wrapper .list_heading_wrapper .delete_list {
  float: right;
}
.list_wrapper .cards_wrapper .indiv_card {
  background-color: #fff;
  width: 100%;
  float: left;
  padding: 10px;
  margin-top: 15px;
}
.list_wrapper .add_card {
  margin-top: 10px;
  cursor: pointer;
}
